h1 {
    color:rgb(99, 201, 233);
    text-align: center ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h2 {
    color:rgb(229, 237, 255);
    text-align: center ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color:aqua
}
.btn {
    background: linear-gradient( to right, rgb(27, 29, 29) , grey);
    border-radius: 10px;
    color: #5fffe7;
}

img {
    border-radius: 50px;
    border-width: 10px;
}
section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
   
}
.message {
    margin-bottom: 3.5rem;
    color: #b9cdff;
    align-items: center;
    left: 73%;
    top: 15%;
    font-family: "Playwrite HR Lijeva", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.container {
    position: relative;
}
.guess {
    position: absolute;
    top: 25%;
    left: 73%;
    transform: translate(-50%, -50%);
    color: rgb(29, 236, 255);
    font-size: 30px;
      font-family: "Playwrite HR Lijeva", cursive;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }







